<div class="background_image">
  <h1 class="home_header text-center"> Welcome to People Seeking Pizza </h1>
  <h2 class="home_header text-center"> Bringing the power of pizza to the people since 2016! </h2>
</div>
