<div class="background_image">
  <div class="home_page_container">
    <h1 class="home_header text-center"><strong> Welcome to People Seeking Pizza </strong></h1>
    <h2 class="home_header text-center"><strong> Bringing the power of pizza to the people since 2016! </strong></h2>
    <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-primary"><%= link_to "Login", login_path %></button>
      <button type="button" class="btn btn-primary"><%= link_to "Signup", signup_path %></button>
    </div>
  </div>
</div>
